<header id="header" align="left">
      <img src="/images/JaniceHeadShot.png" width="80px" height="80px" style="padding-top: 30px"/>
    <div style="display: inline; position: relative; top: -70px; left: 100px; ">
      <h1>Janice Bonham West</h1>
      <h3>Software Development Student at  <a href="http://theironyard.com">The Iron Yard</a>
        in <a href="www.durham-nc.com/">Durham, NC</a></h3>
    </div>
</header>
