---
title: Janice Bonham West | Junior Software Developer
---

  <section>
    <ul>
      <li><%= link_to 'Homework Project Portfolio', '/homework_portfolio.html' %></li>
      <li><%= link_to 'About/Contact', '/about_contact.html' %></li>
      <li><%= link_to 'Blog/Interests', '/blog_interests.html' %></li>
    </ul>
  </section>
