---
title: Welcome to Middleman
---
.row
  .large-6.small-8.columns
    .panel.callout.radius
    


<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
